{% extends 'layouts/main.html' %}

{% block content %}

<main>
    <header>
    </header>

    <!-- information banner -->
    <section>
        <div class="container mt-2 mb-2">
            <h1 class="banner-title">Decentralized, <br/>application</h1>
            <p>The main objective of decentralised was to involve peoples' participation.</p>

            <button class="btn btn-success">Get Started</button>
        </div>
    </section>

    <!-- features -->
    <section>
        <div class="container mt-5 mb-2">
            <div class="row text-center">
                <div class="col">
                    <div class="row">
                        <div class="p-2 col-12 text-white bg-dark">
                            <strong>Rocket - for Email</strong>
                        </div>
                    </div>
                </div>
                <div class="col">Feature 2</div>
                <div class="col">Feature 3</div>
            </div>
        </div>
    </section>

</main>

{% endblock %}